name: Build

permissions:
  checks: write

on:
  push:
    branches: [master]

defaults:
  run:
    shell: powershell

jobs:
  build:
    runs-on: windows-latest
    env:
      PUBLISH_DIR: ./src/SQ2/bin/Release/net6.0-windows/win-x64/publish
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.x

      - name: Publish solution
        run: |
          dotnet publish SQ2.sln --configuration Release -p:BuildNumber=$env:GITHUB_RUN_NUMBER
          $packageVersion = (Get-Item -Path "$env:PUBLISH_DIR/SQ2.exe").VersionInfo.ProductVersion.Split('+')[0]
          "PACKAGE_VERSION=$packageVersion" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Upload published package as artifact
        uses: actions/upload-artifact@v4
        with:
          name: SQ2.${{ env.PACKAGE_VERSION }}
          path: ${{ env.PUBLISH_DIR }}
  test:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.x

      - name: Run tests
        run: |
          dotnet build SQ2.sln --configuration Debug
          dotnet test SQ2.sln --configuration Debug